@import "tailwindcss";

@theme{
    --color-base: #2563eb;
    --color-bg: #f1f1f1;
}


::-webkit-scrollbar {
    width: 3px;
  }
  
  ::-webkit-scrollbar-track {
    background: #1c1f2b
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, orangered, orangered);
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #3498db, #2980b9);
  }
  
  /* Horizontal scrollbar styles */
  ::-webkit-scrollbar:horizontal {
    height: 3px; 
  }
  
  ::-webkit-scrollbar-track:horizontal {
    background: #1c1f2b;
  }
  
  ::-webkit-scrollbar-thumb:horizontal {
    background: linear-gradient(to right, #3498db, #2980b9);
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-thumb:horizontal:hover {
    background: linear-gradient(to right, orangered, orangered);
  }

@layer base {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html{
        font-size: 62.5%;
    }
    body{
        background: var(--color-bg);
    }
    
}

@layer components {
    .padd-container {
        @apply max-w-[150rem] mx-auto my-0;
    }
    .flex-center{
        @apply flex items-center justify-center;
    }
    .flex-between{
        @apply flex items-center justify-between;
    }
    .absolute-center{
      @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
    }
}